body {
    margin:0;
    font-family: 'myriad-pro','PT Sans','Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size:16px;
    line-height: 1.4444;
    color: #333333;
    background-color:#fff;
}