{% extends "home/misc_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{#{% load wagtailcore_tags wagtailimages_tags %}#}
{#{% load static %}#}
{##}
{#{% block body_class %}template-homepage{% endblock %}#}
{##}
{#{% block extra_css %}#}
{#    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    BIO  PAGE#}
{#{% endblock %}#}
{##}
{#{% block extra_js %}#}
{#{% endblock %}#}

{% block miscbody1 %}
    <div class="col-12 mb-3">
    <h2>{{ page.title }}</h2>
    </div>
    {% for speaker in page.speakers %}
        <div id="bio{{ forloop.counter }}" class="col-12 col-md-5 mb-3 text-right">
            {% image speaker.value.photo width-400 as bioImg %}
            <img src="{{ bioImg.url }}" class="rounded img-fluid"/>
        </div>
        <div class="col-12 col-md-7 mb-3">
        {{ speaker.value.bio | richtext}}
        </div>
    {% endfor %}
{% endblock %}
