{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{#<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">#}
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{#{% include 'home/welcome_page.html' %}#}

    {% image page.hero_image original as heroImg  %}
<div id="hero" style="background-image: url({{ heroImg.url }}) ">
<div class="container">
        <div class="h1 text-center">{{ page.hero_title }}</div>
    <div class="h3 text-center"><i>{{ page.hero_subtitle }}</i></div>
</div>
</div>
<div class="subhero">
    <div class="container">
    <div class="row justify-content-center" style="margin-top:30px;">
        <div class="col-10">
            {{ page.slogan }}
        </div>
    </div>
    </div>

</div>
    <div class="container richtextarea">
        <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-10">
                <div>
                    {{ page.body | richtext }}
                </div>

            </div>
        </div>
        <!-- <div class="row " >
            <div class="col-10 offset-1">
                <label for="mailinglist">Subscribe to our mailing list: </label><br/>
                <form class="form" id="form_mailinglist">
                <div class="MailingList form-group row">
                    <div class="col-8">
                    <input class="form-control" type="email" id="mailinglist" name="mailinglist" placeholder="Enter email"/>
                    </div>
                    <div class="col-2">
                    <button type="submit" class="btn btn-dark" >Submit</button>
                    </div>
                </div>
                </form>
                <a href="https://twitter.com/VicCanBioinf?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @VicCanBioinf</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div> -->
    </div>

    <div class="section3 richtextarea bg-lightgreen">
        <div class="container">
            <div class="row justify-content-center" style="margin-top:30px;">
                <div class="col-10">
                    <div>
                        {{ page.body_section3 | richtext }}
                    </div>
                <div class="container">
                    <div class="row">
                        {% for speaker in page.speakers %}
                            <div class="col-12 col-md-9 col-lg-6 mb-3">
                            {% image speaker.value.photo width-400 as bioImg %}
                            <div class="card bg-dark text-white" style="min-height: 350px;">
                              <img class="card-img" src="{{ bioImg.url }}" alt="Card image">
                              <div class="card-img-overlay">
                                  <p class="card-title">{{ speaker.value.name }}{% if speaker.value.link %}&nbsp; <a class="btn btn-dark btn-sm" role="button" href="{{ speaker.value.link }}">BIO PAGE</a>{% endif %}</p>
                              </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section2 richtextarea">
        <div class="container">
            <div class="row justify-content-center" style="margin-top:30px;">
                <div class="container">
                        {% for sponsor in page.sponsors %}
                            {% image sponsor.value.photo width-400 as img %}
                              <a href="{{sponsor.value.link}}"><img class="card-img" src="{{ img.url }}"></a>
                        {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="small footer text-center">{{ page.footer }}</div>
{% endblock content %}


{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#form_mailinglist").submit( function (e) {
            e.preventDefault();
            var msg = $("#mailinglist").val();
            $.post("/ajax/mailinglist",{email:msg,csrfmiddlewaretoken: '{{ csrf_token }}'});
            $("#form_mailinglist").html("Thank you for subscribing to our mailing list");

        });
    });

    </script>
{% endblock %}
