{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}
    {% with request.site.root_page.specific as root_page %}

    {% image root_page.hero_image original as heroImg  %}
        <div id="hero" style="background-image: url({{ heroImg.url }}) ">
            <div class="container">
                <div class="h1 text-center">{{ root_page.hero_title }}</div>
                <div class="h3 text-center"><i>{{ root_page.hero_subtitle }}</i></div>
            </div>
        </div>

        <div class="container richtextarea">
{#            <h1 class="mt-3">{{ page.title }}</h1>#}
            <div class="row justify-content-center" style="margin-top:30px;">
                {% block miscbody1 %}
                <div class="col-10">
                    <div>
                        {{ page.body | richtext }}
                    </div>

                </div>
                {% endblock %}
            </div>
        </div>
        {% if page.body_section2 %}
        <div class="section2 richtextarea bg-lightgreen">
            <div class="container">
                <div class="row justify-content-center" style="margin-top:0;">
                    <div class="col-10">
                        <div>
                            {{ page.body_section2 | richtext }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <hr/>
        <div class="small footer text-center">{{ root_page.footer }}</div>
    {% endwith %}
{% endblock %}

{% block extra_js %}
{% endblock %}
