    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
        color: #006951;
    }

    .richtextarea h3, .richtextarea .h3 {
        margin-top: 30px;
    }
    #hero {
        background-color:#009C7B;
        background-position:center;
        background-size:cover;
        border-bottom:0;
        min-height:300px;
    }
    #hero .h1 {
        color:#fff;
        margin: 30px 0;
        font-size:3em;
    }
    #hero .h3 {
        color:#fff;
        font-size:1.6em;
        font-weight: bold;
        font-style: italic;
        margin-bottom:30px;
        letter-spacing: 2px;
    }
    .subhero:before,.subhero:after,.section2:before, .section2:after, #hero:before, #hero:after {
        content: " ";
        display: table;
    }
    .footer {
        color: #AAA;
        margin-bottom:20px;
    }
    @media screen and (min-width: 768px) {
        #hero {
            min-height:400px;
        }
        #hero .h1 {
            margin-top: 90px;
            font-size: 4em;
        }

    }

    .card-img-overlay {
        top: auto;
        background-color: rgba(255,255,255,0.6);
        color: #333333;
        padding-top:5px;
        padding-bottom:3px;
    }
    .card-img-overlay .card-title {
        font-size: 1.3em;
    }
    .bg-lightgreen {
        background-color: #F2F9F7;
    }
    .section3 {
        margin: 10px 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section2 {
        margin: 30px 0;
    }
    .section2 img {
        display: inline-block;
        max-width: 200px;
        width:auto;
        height:auto;
        margin: 0 10px;
    }
    .section2 img+p {
        display: inline;
    }
    .subhero {
        margin: 0;
        color:#fff;
        background-color: #006951;
        font-size:1.6em;
        padding-bottom: 30px;
    }